<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.jpeg</string>
				<string>public.heic</string>
				<string>public.png</string>
				<string>public.tiff</string>
				<string>com.adobe.raw-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.mpeg-4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Watermark Template</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.watermark.app.template</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.watermark.app.template</string>
			<key>UTTypeDescription</key>
			<string>Watermark Template</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>watermarktemplate</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.watermark.app.watermark-last-photo</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Watermark Last Photo</string>
			<key>UIApplicationShortcutItemIconSystemImageName</key>
			<string>photo.on.rectangle.angled</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.watermark.app.watermark-from-clipboard</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Watermark from Clipboard</string>
			<key>UIApplicationShortcutItemIconSystemImageName</key>
			<string>doc.on.clipboard</string>
		</dict>
	</array>
</dict>
</plist>
